<?xml version="1.0" encoding="utf-8"?>
<connectionStrings>
  <add name="BaseDb" connectionString="Server=47.93.253.194;Initial Catalog=ZangZhenTang;User ID=sa;Password=system@123" providerName="System.Data.SqlClient" />
  <!--<add name="BaseDb" connectionString="Server=114.215.118.26;Initial Catalog=HZSoftFramework_Base_2016;User ID=sa;Password=Hui15@ZE38SOft$%" providerName="System.Data.SqlClient" />-->
  <!--<add name="AccountDb" connectionString="Server=.;Initial Catalog=HZSoft_account;User ID=sa;Password=sa123456" providerName="System.Data.SqlClient" />-->
  <!--<add name="BaseDb" connectionString="Data Source=192.168.0.103;port=3306;Initial Catalog=HZSoftFramework_Base_2016;user id=hzsoft;password=123456;charset=utf8" providerName="MySql.Data.MySqlClient"/>-->
  <!--<add name="BaseDb" connectionString="User Id=kooboocmsv3;Password=kooboocmsv3;PERSIST SECURITY INFO=True;Data Source=kooboocmsv3"  providerName="Oracle.ManagedDataAccess.Client"/>-->
</connectionStrings>