<?xml version="1.0" encoding="utf-8"?>
<appSettings>
  <!-- ================== 1：开发系统相关配置 ================== -->
  <!-- 登陆提供者模式：Session、Cookie-->
  <add key="LoginProvider" value="Session" />
  <!-- 允许重复登录 -->
  <add key="CheckOnLine" value="false" />
  <!-- 允许用户注册 -->
  <add key="AllowUserRegister" value="false" />
  <!-- 启用即时通讯 -->
  <add key="UseMessage" value="false" />
  <!-- 启用系统日志-->
  <add key="IsLog" value="true" />
  <!-- 数据库超时间-->
  <add key="CommandTimeout" value="10" />
  <!-- 服务器缓存类型:WebCache、Redis-->
  <add key="CacheType" value="WebCache" />
  <!-- ================== 2：这里主要是微信配置项内容部分 ================== -->
  <!--企业号CorpId -->
  <add key="CorpId" value="wx3e4c8f84a165a142" />
  <!--企业号凭证密钥 -->
  <add key="CorpSecret" value="XDwJUlMeqQAVI3Iu0ZpJ-5MYzBJmhuBAF9GTBqY7mnJg_j23JTidYcslyTg9SL0B" />

  <add key="webpages:Version" value="2.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  <add key="PreserveLoginUrl" value="true" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />

  <!--网站域名，必须80端口，不要以/结尾-->
  <add key="WXmain" value="http://wx.lywenkai.com"/>
  <add key="Domain" value="http://hmk.lywenkai.com"/>
  <add key="fxTitle" value="精品靓号  选号网站"/>
  <add key="fxContent" value="你想要的靓号，我都有！5A,4A,3A,5顺，4顺，ABC，AAAAB，AAAB……"/>
  <!--微信Token-->
  <add key="Token" value=""/>
  <!--微信消息体加密对应的EncodingAESKey-->
  <add key="EncodingAESKey" value=""/>
  <!--微信AppId-->
  <add key="AppID" value="wx24e47efa56c2e554"/>
  <!--微信AppSecret-->
  <add key="AppSecret" value="1f8de99c6304d13e5a65efa418638ee4"/>
  <!--用于微信支付的PartnerKey-->
  <add key="PartnerKey" value=""/>
  <!--用于微信支付的商户号-->
  <add key="mch_id" value=""/>
  <!--用于微信支付的设备号-->
  <add key="device_info" value=""/>
  <!--用于微信支付的服务端IP地址-->
  <add key="spbill_create_ip" value=""/>

  <!--微信Oauth: 
     snsapi_base:      不弹出授权页面，直接跳转，只能获取用户openid;
     snsapi_userinfo:  出授权页面，可通过openid拿到昵称、性别、所在地。并且，即使在未关注的情况下，只要用户授权，也能获取其信息.-->
  <add key="OauthScope" value="snsapi_userinfo"/>

  <!--是否开启微信JS接口，1：开启，0：不开启（由于开启JS功能需要定时获取jstickect,会消耗一部分性能，所以不需要JS接口的请写0）-->
  <add key="OpenJSSDK" value="1"/>
  <!-- ================== 3：访问过滤配置 ================== -->
  <!--设置IP过滤 -->
  <add key="FilterIP" value="false" />
  <!--设置时段过滤 -->
  <add key="FilterTime" value="false" />
  <!-- ================== 4：系统软件参数配置 ================== -->
  <!-- 联系我们 -->
  <add key="Contact" value="www.lywenkai.com" />
  <!-- 公司名称 -->
  <add key="CustomerCompanyName" value="文楷科技" />
  <!-- 系统名称 -->
  <add key="SystemName" value="企业信息管理软件" />
  <!-- 软件名称 -->
  <add key="SoftName" value="企业信息管理软件" />
  <!-- 软件版本 -->
  <add key="Version" value="6.1" />
  <!-- 软件注册码，备用 -->
  <add key="RegisterKey" value="NO:2013101712345678" />
  <!-- ================== 5：外部邮件参数 ================== -->
  <!-- 系统错误自动发送邮件 -->
  <add key="ErrorToMail" value="true" />
  <!-- 发出邮箱的名称 -->
  <add key="MailName" value="邮件中心" />
  <!-- 发出邮箱的地址 -->
  <add key="MailUserName" value="824478152@qq.com" />
  <!-- 发出邮箱的密码 -->
  <add key="MailPassword" value="" />
  <!-- 发出邮箱设置邮箱主机 -->
  <add key="MailHost" value="smtp.exmail.qq.com" />
  <!-- ================== 6：短信参数 ================== -->
  <!-- 短信账户 -->
  <add key="SMSAccount" value="jumuxx_lr" />
  <!-- 短信密码 -->
  <add key="SMSPswd" value="Lrxx158753" />
  <!-- 短信接口地址 -->
  <add key="SMSUrl" value="http://localhost:80/msg/HttpBatchSendSM" />
  <!-- ================== 7：即时通信参数 ================== -->
  <!-- SignalR服务接口-->
  <add key="SignalRUrl" value="http://localhost:8081/signalr" />

  <!-- 微信客服 -->
  <add key="touser" value="ouEs61pPppa9xQr_0_5j_hVp1Nfw"/>
  <!-- ================== 8：获取号码 ================== -->
  <!-- 最大个数 -->
  <add key="maxGet" value="300"/>
  
</appSettings>