@{;
    ViewBag.Title = "表单页面";
    Layout = "~/Views/Shared/_Form.cshtml";
}
<script>
    var keyValue = request('keyValue');
    $(function () {
        initControl();
    });
    //初始化控件
    function initControl() {
        //获取表单
        if (!!keyValue) {
            $.SetForm({
                url: "../../CustomerManage/CRM_CallLog/GetFormJson",
                param: { keyValue: keyValue },
                success: function (data) {
                    $("#form1").SetWebControls(data);
                }
            })
        }
    }
    //保存表单;
    function AcceptClick() {
        if (!$('#form1').Validform()) {
            return false;
        }
        //var postData = $("#form1").GetWebControls(keyValue);
        //var postData = { "Id": "63e077da-d36d-496d-953d-620e58ac5ae4", "EnterpriseId": "236bb57f-2f70-4d4a-83d5-cff6d1d090c1", "WorkerUserName": "crmtest2001", "WorkerName": "001", "WorkerGroupId": "24db5965-3484-42b9-96ae-0da9d7cdf377", "WorkerPhoneNumber": null, "UploadTime": null, "WorkerIP": null, "CallType": 2, "CallNumber": "13835503136", "CallTime": "2017-11-06T19:39:34", "RingTime": "2017-11-06T19:39:50", "ConnectedTime": "2017-11-06T19:39:53", "EndTime": "2017-11-06T19:42:38", "CallResult": 4, "IsRecordingFile": true, "RecordingFile": "20171106/crmtest2001/Out_13365396599_636455939901563860.wav", "LocalFileName": "D:\\RecFile\\20171106/Out_13365396599_636455939901563860.wav", "RecordingFileSize": 2634, "RecordingType": 0, "HangReson": null, "CallDuration": 165, "IsRecordingFileUploaded": false, "RecordingUploadTime": "2017-11-06T19:42:39.7920886+08:00", "IsUploaded": false, "IsDone": false }
        //var postData = { "Id": "b89fefc8-5d79-4016-ad71-84cc7a9b6a77", "EnterpriseId": "19eeab2c-10b3-4aed-9895-85a68c9b4b0b", "WorkerUserName": "wenkai005", "WorkerName": "姚希林", "WorkerGroupId": "ccf6d2ef-3d97-45b6-8cb9-a77686cab27c", "WorkerPhoneNumber": null, "UploadTime": null, "WorkerIP": null, "CallType": 2, "CallNumber": "18660996839", "CallTime": "2018-05-12T09:57:11", "RingTime": "2018-05-12T09:57:29", "ConnectedTime": "2018-05-12T09:57:29", "EndTime": "2018-05-12T09:57:53", "CallResult": 4, "IsRecordingFile": true, "RecordingFile": "20180512/wenkai005/Out_18660996839_636617158499934212.wav", "LocalFileName": "D:\\RecFile\\20180512/Out_18660996839_636617158499934212.wav", "RecordingFileSize": 375, "RecordingType": 0, "HangReson": null, "CallDuration": 24, "RecordingUploadTime": "2018-05-12T09:57:55.1181674+08:00" }
        var postData = { "Id": "c6301df4-fcb8-4d38-b1fd-ece15472434f", "EnterpriseId": "19eeab2c-10b3-4aed-9895-85a68c9b4b0b", "WorkerUserName": "wenkai005", "WorkerName": "姚希林", "WorkerGroupId": "ccf6d2ef-3d97-45b6-8cb9-a77686cab27c", "WorkerPhoneNumber": null, "UploadTime": null, "WorkerIP": null, "CallType": 2, "CallNumber": "18660996839", "CallTime": "2018-05-12T10:29:46", "RingTime": "2018-05-12T10:30:05", "ConnectedTime": "2018-05-12T10:30:06", "EndTime": "2018-05-12T10:31:09", "CallResult": 4, "IsRecordingFile": true, "RecordingFile": "20180512/wenkai005/Out_18660996839_636617178054988560.wav", "LocalFileName": "D:\\RecFile\\20180512/Out_18660996839_636617178054988560.wav", "RecordingFileSize": 1008, "RecordingType": 0, "HangReson": null, "CallDuration": 63, "RecordingUploadTime": "2018-05-12T10:31:11.0987988+08:00" }
        //$.SaveForm({
        //    url: "../../CustomerManage/CRM_CallLog/SaveForm",
        //    param: postData,
        //    loading: "正在保存数据...",
        //    success: function (data) {
        //        //alert(data.ErrorCode);
        //        //$.currentIframe().$("#gridTable").trigger("reloadGrid");
        //    }
        //})

        $.ajax({
            type: "get",
            url: "http://localhost:4066/CustomerManage/CRMAPI/PushFollowUpRecord",
            contentType: "application/json",
            data: { calllog: JSON.stringify(postData) },
            success: function (data, status) {
                if (status == "success") {
                    alert(data.Message);
                }
            }
        });
        //$.ajax({
        //    type: 'POST',
        //    url: "../../CRMClient/CRM_CallLog/SaveForm",
        //    data: {
        //        Id: "bda8a9cd-8f1f-46e0-9752-5ed6fb009a57",
        //        EnterpriseId: " ssssfsdfsf-8f1f-46e0-9752-farafasdf232",
        //        WorkerUserName: "1001",
        //        WorkerName: "坐席1001",
        //        WorkerGroupId: "56312c10-01a6-404b-bcb1-0e8630d663cb",
        //        WorkerPhoneNumber: "1332055120020",
        //        UploadTime: null,
        //        WorkerIP: null,
        //        CallType: 2,
        //        CallNumber: "15522577587",
        //        CallTime: "2017-09-08T10:42:32",
        //        RingTime: null,
        //        ConnectedTime: null,
        //        EndTime: "2017-09-08T10:42:45",
        //        CallResult: 0,
        //        IsRecordingFile: false,
        //        RecordingFile: null,
        //        LocalFileName: null,
        //        RecordingFileSize: 0,
        //        RecordingType: 0,
        //        HangReson: null,
        //        CallDuration: 0,
        //        IsRecordingFileUploaded: false,
        //        RecordingUploadTime: null,
        //        IsUploaded: false,
        //        IsDone: false
        //    },
        //    dataType: "json",
        //    success: function () {
        //        $.currentIframe().$("#gridTable").trigger("reloadGrid");
        //    },
        //});
    }
</script>
<div style="margin-top: 20px; margin-right: 30px;">
    <table class="form">
        <tr>
            <td class="formTitle">话单id</td>
            <td class="formValue">
                <input id="Id" type="text" class="form-control"  />
            </td>
            <td class="formTitle">企业Id</td>
            <td class="formValue">
                <input id="EnterpriseId" type="text" class="form-control"  />
            </td>
        </tr>
        <tr>
            <td class="formTitle">坐席</td>
            <td class="formValue">
                <input id="WorkerUserName" type="text" class="form-control"  />
            </td>
            <td class="formTitle">坐席名称</td>
            <td class="formValue">
                <input id="WorkerName" type="text" class="form-control"  />
            </td>
        </tr>
        <tr>
            <td class="formTitle">坐席组</td>
            <td class="formValue">
                <input id="WorkerGroupId" type="text" class="form-control"  />
            </td>
            <td class="formTitle">坐席号码</td>
            <td class="formValue">
                <input id="WorkerPhoneNumber" type="text" class="form-control"  />
            </td>
        </tr>
        <tr>
            <td class="formTitle">呼叫类型</td>
            <td class="formValue">
                <input id="CallType" type="text" class="form-control"  />
            </td>
            <td class="formTitle">客户号码</td>
            <td class="formValue">
                <input id="CallNumber" type="text" class="form-control"  />
            </td>
        </tr>
        <tr>
            <td class="formTitle">呼叫时间</td>
            <td class="formValue">
                <input id="CallTime" type="text" class="form-control"  />
            </td>
            <td class="formTitle">振铃时间</td>
            <td class="formValue">
                <input id="RingTime" type="text" class="form-control"  />
            </td>
        </tr>
        <tr>
            <td class="formTitle">接通时间</td>
            <td class="formValue">
                <input id="ConnectedTime" type="text" class="form-control"  />
            </td>
            <td class="formTitle">通话结束时间</td>
            <td class="formValue">
                <input id="EndTime" type="text" class="form-control"  />
            </td>
        </tr>
        <tr>
            <td class="formTitle">是否有录音</td>
            <td class="formValue">
                <input id="IsRecordingFile" type="text" class="form-control"  />
            </td>
            <td class="formTitle">录音文件名</td>
            <td class="formValue">
                <input id="RecordingFile" type="text" class="form-control"  />
            </td>
        </tr>
        <tr>
            <td class="formTitle">录音本地文件名</td>
            <td class="formValue">
                <input id="LocalFileName" type="text" class="form-control"  />
            </td>
            <td class="formTitle">录音文件大小</td>
            <td class="formValue">
                <input id="RecordingFileSize" type="text" class="form-control"  />
            </td>
        </tr>
        <tr>
            <td class="formTitle">通话时长</td>
            <td class="formValue">
                <input id="CallDuration" type="text" class="form-control"  />
            
    </table>
</div>
