@{;
    ViewBag.Title = "表单页面";
    Layout = "~/Views/Shared/_OrderForm.cshtml";
}
<script src="~/Content/scripts/utils/hzsoft-ui.js"></script>
<script>
    var keyValue = request('keyValue');
    var UserId;
    $(function () {
        InitialPage();
        GetOrderEntryGrid();
        initControl();
    });
    //初始化页面
    function InitialPage() {
        $(".bills").height($(window).height() - 88);
        //resize重设(表格、树形)宽高
        $(window).resize(function (e) {
            window.setTimeout(function () {
                $('#gridTable').setGridWidth(($('.gridPanel').width()));
                $(".bills").height($(window).height() - 88);
            }, 200);
            e.stopPropagation();
        });
    }

    //初始化控件
    function initControl() {
        //客户
        //$("#CustomerId").ComboBox({
        //    url: "../../ReportManage/Dms/GetCustomerData",
        //    id: "id",
        //    text: "name",
        //    description: "==请选择==",
        //    height: "360px",
        //    width: "280px",
        //    allowSearch: true
        //}).bind("change", function () {
        //    $("#CustomerCompany").val($(this).attr('data-text'));
        //});

        //省份
        $("#ProvinceId").ComboBox({
            url: "../../SystemManage/Area/GetAreaListJson",
            param: { parentId: "0" },
            id: "AreaCode",
            text: "AreaName",
            description: "选择省",
            height: "170px"
        }).bind("change", function () {
            var value = $(this).attr('data-value');
            $("#CityId").ComboBox({
                url: "../../SystemManage/Area/GetAreaListJson",
                param: { parentId: value },
                id: "AreaCode",
                text: "AreaName",
                description: "选择市",
                height: "170px"
            });
        });
        //城市
        $("#CityId").ComboBox({
            description: "选择市",
            height: "170px"
        }).bind("change", function () {
            var value = $(this).attr('data-value');
            if (value) {
                $("#CountyId").ComboBox({
                    url: "../../SystemManage/Area/GetAreaListJson",
                    param: { parentId: value },
                    id: "AreaCode",
                    text: "AreaName",
                    description: "选择县/区",
                    height: "170px"
                });
            }
        });
        //县/区
        $("#CountyId").ComboBox({
            description: "选择县/区",
            height: "170px"
        });

        //销售人员
        $("#UserId").ComboBoxTree({
            url: "../../BaseManage/User/GetTreeJson",
            description: "==请选择==",
            height: "360px",
            width: "280px"
        }).bind("change", function () {
            $("#UserName").val($(this).attr('data-text'));
            UserId = $(this).attr('data-value');
        });

        //配送方式
        $("#Express").ComboBox({
            url: "../../SystemManage/DataItemDetail/GetDataItemListJson",
            param: { EnCode: "psfs" },
            id: "ItemValue",
            text: "ItemName",
            description: "==请选择==",
            height: "200px"
        }).bind("change", function () {
            getToPayCharge();
        });
        //收款方式
        $("#PaymentMode").ComboBox({
            url: "../../SystemManage/DataItemDetail/GetDataItemListJson",
            param: { EnCode: "Client_PaymentMode" },
            id: "ItemValue",
            text: "ItemName",
            description: "==请选择==",
            height: "200px"
        });

        //获取表单
        if (!!keyValue) {
            $.SetForm({
                url: "../../CustomerManage/Sales_Contract/GetFormJson",
                param: { keyValue: keyValue },
                success: function (data) {
                    $("#form1").SetWebControls(data.entity);
                    $("#CustomerId").find('.ui-select-text').html(data.entity.CustomerCompany).css('color', '#000');
                    //明细
                    var childEntity = data.childEntity;
                    $('#gridTable').find('[role=row]').each(function (i) {
                        var row = childEntity[i - 1];
                        if (row != undefined) {
                            $(this).find('input[name="Id"]').val(row.Id);
                            $(this).find('input[name="ProductId"]').val(row.ProductId);
                            $(this).find('input[name="ProductCode"]').val(row.ProductCode);
                            $(this).find('input[name="ProductName"]').val(row.ProductName);
                            $(this).find('input[name="Count"]').val(toDecimal(row.Count));
                            $(this).find('input[name="UnitPrice"]').val(toDecimal(row.UnitPrice));
                            $(this).find('input[name="Amount"]').val(toDecimal(row.Amount));
                            $(this).find('input[name="Description"]').val(row.Description);
                            $(this).find('[id="PlusDelete"]').val("删除");
                            $(this).find('input').removeAttr('disabled').attr("isvalid", "yes");
                            $(this).next().find('input').removeAttr('disabled');
                        }
                    });
                    //合计
                    GetTotal();
                }
            })
        }
    }
    //加载明细表
    function GetOrderEntryGrid() {
        var $grid = $('#gridTable');
        $grid.jqGrid({
            unwritten: false,
            datatype: 'local',
            height: '100%',
            autowidth: true,
            colModel: [
                { label: '主键', name: 'Id', hidden: true },
                { label: '商品名称', name: "ProductName", width: 160, align: 'left', sortable: false, resizable: false },
                { label: '商品编号', name: "ProductCode", width: 100, align: 'center', sortable: false, resizable: false },
                { label: '数量', name: 'Count', width: 80, align: 'center', sortable: false, resizable: false },
                { label: '单价', name: 'UnitPrice', width: 80, align: 'center', sortable: false, resizable: false },
                { label: '金额', name: 'Amount', width: 80, align: 'center', sortable: false, resizable: false },
                { label: '说明信息', name: 'Description', width: 300, align: 'left', sortable: false, resizable: false },
                { label: '删除', name: 'PlusDelete', width: 95, align: '', sortable: false, resizable: false },
            ],
            pager: false,
            rownumbers: true,
            shrinkToFit: false,
            gridview: true,
            footerrow: true,
            gridComplete: function () {
                //合计
                $(this).footerData("set", {
                    "ProductName": "合计：",
                    "Count": "<span id='TotalCount'>0.00</span>",
                    "UnitPrice": "<span id='TotalUnitPrice'>0.00</span>",
                    "Amount": "<span id='TotalAmount'>0.00</span>"
                });
            }
        });
        //表头合并
        $grid.jqGrid('setGroupHeaders', {
            useColSpanStyle: true,
            groupHeaders: [
              { startColumnName: 'ProductName', numberOfColumns: 2, titleText: '商品信息' },
              { startColumnName: 'Count', numberOfColumns: 3, titleText: '价格信息' },
            ]
        });
        //默认添加13行 空行
        for (var i = 1; i < 6; i++) {
            var rowdata = {
                Id: '<input name="Id" type="text" />',
                ProductName: '<div class="product"><input name="ProductName" readonly type="text" class="editable" isvalid="no" checkexpession="NotNull"/><span class="ui-icon-ellipsis goodsname"></span></div>',
                ProductCode: '<input name="ProductCode" type="text" class="editable center disabled" /><input name="ProductId" type="hidden" />',
                Count: '<input name="Count" type="text" class="editable center decimal" isvalid="no" checkexpession="Double" />',
                UnitPrice: '<input name="UnitPrice" type="text" class="editable center decimal" isvalid="no" checkexpession="Double" />',
                Amount: '<input name="Amount" type="text" class="editable center decimal disabled" isvalid="no" checkexpession="Double" />',
                Description: '<input name="Description" type="text" class="editable center disabled" />',
                PlusDelete: '<input readonly disabled="disabled" id="PlusDelete" class="editable center" type="text" style="cursor:pointer" datacol="No" err="删除"  />'
            }
            $grid.jqGrid('addRowData', i, rowdata);
        };
        $grid.find('.decimal').attr('onfocus', 'IsMoney(this.id)');
        $grid.find('input').attr("disabled", "disabled");
        $grid.find("tbody tr:eq(1)").find('input').removeAttr('disabled').attr("isvalid", "yes");
        $grid.find('.disabled').attr("disabled", "disabled");
        //商品名称事件
        $('input[name="ProductName"]').focus(function () {
            $('.goodsname').hide();
            $(this).next('.goodsname').show();
            $(this).Contextmenu();
        });

        //选择商品事件
        $('.goodsname').click(function () {
            var $ellipsis = $(this);
            dialogOpen({
                id: "OptionGoods",
                title: '选择商品',
                url: '/BaseManage/POS_Product/POS_ProductIndex',
                width: "1200px",
                height: "600px",
                callBack: function (iframeId) {
                    top.frames[iframeId].AcceptClick(function (datas) {
                        var currRow = $ellipsis.parents('[role=row]').prev();
                        for (var i = 0; i < datas.length; i++) {
                            var data = datas[i];
                            if ($('#gridTable').find('[data-value="' + data.ProductId + '"]').length == 0) {
                                var nextRow = currRow.next();
                                nextRow.find('input[name="ProductName"]').val(data.ProductName);
                                nextRow.find('input[name="ProductCode"]').val(data.ProductCode).attr('data-value', data.ProductId);
                                nextRow.find('input[name="ProductId"]').val(data.ProductId);
                                nextRow.find('input[name="Count"]').val('1');
                                nextRow.find('input[name="UnitPrice"]').val('0.00');
                                nextRow.find('input[name="Amount"]').val('0.00');
                                nextRow.find('input[id="PlusDelete"]').val("删除").removeAttr("disabled");
                                nextRow.find('input').removeAttr('disabled').attr("isvalid", "yes");
                                nextRow.next().find('input').removeAttr('disabled');
                                currRow = nextRow;
                            }
                        }
                    });
                },
                btn: ['确认选中', '关闭']
            });
        });

        //删除信息文本框点击事件
        $("#gridTable tbody tr").find('input[id="PlusDelete"]').click(function () {
            if ($(this).attr('disabled') == 'disabled') {
                return false;
            }
            var KeyValue = $(this).parent().parent().find('input[name="ProductName"]').find('input').val()
            if (KeyValue != "") {
                var currtr = $(this).parent().parent();
                dialogConfirm('您确认要删除此数据吗？', function (r) {
                    if (r) {
                        currtr.remove();
                        GetTotal();
                        dialogMsg("操作成功", 1);
                    }
                });
            }
        });

        //价格文本框事件
        $grid.find('.decimal').click(function () {
            $(this).select();
        });
        //价格文本框换算
        $grid.find('.decimal').keyup(function () {
            var _inputName = $(this).attr('name');
            var $Count = $(this).parents('[role=row]').find('input[name="Count"]');                    //数量
            var $UnitPrice = $(this).parents('[role=row]').find('input[name="UnitPrice"]');                //单价
            var $Amount = $(this).parents('[role=row]').find('input[name="Amount"]');              //金额
            //数量*单价=金额
            $Amount.val(toDecimal($Count.val() * $UnitPrice.val()));
            GetTotal();
        });
    }

    //合计
    function GetTotal() {
        var TotalCount = 0.00, TotalUnitPrice = 0.00, TotalAmount = 0.00;
        $("#gridTable").find("tbody tr").each(function (i) {
            var Count = $(this).find('td:eq(4)').find('input').val();
            if (Count != "" && Count != undefined) {
                TotalCount += Number(Count);
            }
            var UnitPrice = $(this).find('td:eq(5)').find('input').val();
            if (UnitPrice != "" && UnitPrice != undefined) {
                TotalUnitPrice += Number(UnitPrice);
            }
            var Amount = $(this).find('td:eq(6)').find('input').val();
            if (Amount != "" && Amount != undefined) {
                TotalAmount += Number(Amount);
            }
        });
        $("#TotalCount").text(toDecimal(TotalCount));
        $("#TotalUnitPrice").text(toDecimal(TotalUnitPrice));
        $("#TotalAmount").text(toDecimal(TotalAmount));
    }

    //保存表单
    function AcceptClick(save_Mode) {
        if (!$('#form1').Validform()) {
            return false;
        }
        var strChildEntitys = [];
        $("#gridTable").find('[role=row]').each(function (i) {
            if (!!$(this).find('input[name="ProductId"]').val()) {
                strChildEntitys.push({
                    Id: $(this).find('input[name="Id"]').val(),
                    ProductName: $(this).find('input[name="ProductName"]').val(),
                    ProductCode: $(this).find('input[name="ProductCode"]').val(),
                    ProductId: $(this).find('input[name="ProductId"]').val(),
                    Count: $(this).find('input[name="Count"]').val(),
                    UnitPrice: $(this).find('input[name="UnitPrice"]').val(),
                    Amount: $(this).find('input[name="Amount"]').val(),
                    Description: $(this).find('input[name="Description"]').val(),
                    SortCode: i
                });
            }
        });
        var postData = $("#form1").GetWebControls(keyValue);
        postData["TotalCount"] = $("#TotalCount").text();
        postData["TotalUnitPrice"] = $("#TotalUnitPrice").text();
        postData["TotalAmount"] = $("#TotalAmount").text();
        postData["strChildEntitys"] = JSON.stringify(strChildEntitys);
        $.ConfirmAjax({
            msg: "注：您确认要保存此操作吗？",
            url: "../../CustomerManage/Sales_Contract/SaveForm?keyValue=" + keyValue,
            param: { "strEntity": JSON.stringify(postData), "strChildEntitys": JSON.stringify(strChildEntitys) },
            success: function (data) {
                if (save_Mode == 1) {
                    reload();
                } else {
                    top.$.removeTab('closeCurrent');
                }
            }
        });
    }

    //检查到账时间是否必填
    function checkDate() {
        var Paid = toDecimal($("#Paid").val());
        if (Paid != "0.00") {
            $("#PaidDate").attr("isvalid", "yes").attr("checkexpession", "NotNull");
        }
        else {
            $("#PaidDate").removeAttr('isvalid').removeAttr('checkexpession');
            removeMessage($("#PaidDate"));
        }

        var ToPay = toDecimal($("#ToPay").val());
        var Accounts = toDecimal($("#Accounts").val());
        if (ToPay == Accounts) {
            $("#ToPayDate").attr("isvalid", "yes").attr("checkexpession", "NotNull");
        }
        else {
            $("#ToPayDate").removeAttr('isvalid').removeAttr('checkexpession');
            removeMessage($("#ToPayDate"));
        }
    }

    function checkExpress() {
        var exp = $("#Express")[0].textContent;
        if (exp == "==请选择==") {
            dialogMsg('请先选择配送方式！', 0);
            return;
        }
    }

    function getToPay() {
        var Accounts = toDecimal($("#Accounts").val());
        var Paid = toDecimal($("#Paid").val());
        if (Paid != "") {
            var ToPay = toDecimal(Accounts - Paid);
            $("#ToPay").val(ToPay);
            getToPayCharge();
        }
    }

    function getToPayCharge() {
        var ToPay = toDecimal($("#ToPay").val());
        if (ToPay != "") {
            var exp = $("#Express")[0].dataset.value;
            if (exp == "1") {
                var Accounts = toDecimal($("#Accounts").val());
                if (ToPay == Accounts) {
                    $("#ToPayCharge").val("0.00");
                }
                else {
                    $("#ToPayCharge").val(toDecimal(ToPay * 0.05));
                }

            }
            else if (exp == "2" || exp == "3") {
                $("#ToPayCharge").val("0.00");
            }
        }
        else {
            $("#ToPayCharge").val("0.00");
        }
    }
</script>
<div class="bills">
    <table class="form" style="width: 100%; margin-bottom: 10px;">
        <tr>
            <th class="formTitle" style="width: 60px;">收货人<font face="宋体">*</font></th>
            <td class="formValue">
                <input id="CustomerName" class="form-control" />
            </td>
            <th class="formTitle">销售人员<font face="宋体">*</font></th>
            <td class="formValue">
                <div id="UserId" type="selectTree" class="ui-select" isvalid="yes" checkexpession="NotNull"></div>
                <input id="UserName" type="hidden" class="form-control" />
            </td>

            <th class="formTitle" style="width: 60px;">销售日期</th>
                <td class="formValue"><input id="ContractDate" type="text" value="@HZSoft.Util.Time.GetToday()" class="form-control input-wdatepicker" onfocus="WdatePicker()" isvalid="yes" checkexpession="NotNull" />
            </td>
            <th class="formTitle">单据编号<font face="宋体">*</font></th>
            <td class="formValue">
                <input id="ContractNum" type="text" value="@ViewBag.ContractNum" class="form-control" isvalid="yes" checkexpession="NotNull" />
            </td>
        </tr>
        <tr>
            <th class="formTitle" style="width: 60px;">联系电话<font face="宋体">*</font></th>
            <td class="formValue">
                <input id="CustomerMobile" class="form-control" />
            </td>
            <th class="formTitle" style="width: 60px;">收货地址<font face="宋体">*</font></th>
            <td class="formValue" colspan="4">
                <div style="float: left; width: 255px;">
                    <div id="ProvinceId" type="select" class="ui-select" style="float: left; width: 84px; margin-right: 1px;"></div>
                    <div id="CityId" type="select" class="ui-select" style="float: left; width: 84px; margin-right: 1px;"></div>
                    <div id="CountyId" type="select" class="ui-select" style="float: left; width: 84px; margin-right: 1px;"></div>
                </div>
                <div style="margin: 0 auto; width: 100%;">
                    <input id="Address" type="text" class="form-control" style="float: left; width: 355px;" />
                </div>
            </td>
        </tr>
    </table>
    <div class="gridPanel">
        <table id="gridTable"></table>
    </div>

    @*<table class="form" style="width: 100%; margin-bottom: 10px;">
        <tr>
            <th class="formTitle" style="width: 60px;">状态</th>
            <td class="formValue">
                <div class="checkbox">
                    <label>
                        <input id="Status" type="checkbox" checked="checked" />
                        出库
                    </label>
                </div>
            </td>
            <th class="formTitle"></th>
            <td class="formValue">
            </td>
            <th class="formTitle"></th>
            <td class="formValue"></td>
            <th class="formTitle"></th>
            <td class="formValue">
            </td>
        </tr>
    </table>*@
    <textarea id="Remark" placeholder="暂无备注信息" class="form-control" style="width: 100%; height: 50px; margin-top: 10px;"></textarea>
    <table class="form" style="width: 100%; margin-top: 5px;">
        <tr>
            <th class="formTitle" style="width: 60px;">优惠金额<font face="宋体">*</font></th>
            <td class="formValue">
                <input id="DiscountSum" type="text" class="form-control" value="0.00" isvalid="yes" checkexpession="Double" />
            </td>
            <th class="formTitle">收款金额<font face="宋体">*</font></th>
            <td class="formValue">
                <input id="Accounts" type="text" class="form-control" value="0.00" isvalid="yes" checkexpession="Double" />
            </td>
            <th class="formTitle">收款日期<font face="宋体">*</font></th>
            <td class="formValue">
                <input id="PaymentDate" type="text" class="form-control input-wdatepicker" onfocus="WdatePicker()" isvalid="yes" checkexpession="NotNull" />
            </td>
            <th class="formTitle">收款方式<font face="宋体">*</font></th>
            <td class="formValue">
                <div id="PaymentMode" type="select" class="ui-select" isvalid="yes" checkexpession="NotNull"></div>
            </td>
        </tr>
        <tr>
            <td class="formTitle">预付款<font face="宋体">*</font></td>
            <td class="formValue">
                <input id="Paid" type="text" class="form-control" value="0.00" onblur="getToPay()" onfocus="checkExpress()" isvalid="yes" checkexpession="Double" />
            </td>

            <td class="formTitle">到账时间</td>
            <td class="formValue">
                <input id="PaidDate" type="text" class="form-control input-wdatepicker" onfocus="WdatePicker({ dateFmt: 'yyyy-MM-dd HH:mm:ss' })" />
            </td>
            <td class="formTitle">尾款/全款<font face="宋体">*</font></td>
            <td class="formValue">
                <input id="ToPay" type="text" class="form-control" value="0.00" onblur="getToPayCharge()" onfocus="checkExpress()" isvalid="yes" checkexpession="Double" />
            </td>
            <td class="formTitle">到账时间</td>
            <td class="formValue">
                <input id="ToPayDate" type="text" class="form-control input-wdatepicker" onfocus="WdatePicker({ dateFmt: 'yyyy-MM-dd HH:mm:ss' })" />
            </td>
        </tr>
        <tr>
            <td class="formTitle">到付服务费</td>
            <td class="formValue">
                <input id="ToPayCharge" type="text" class="form-control" value="0.00" readonly="readonly" isvalid="yes" checkexpession="Double" />
            </td>
            <th class="formTitle">配送方式<font face="宋体">*</font></th>
            <td class="formValue">
                <div id="Express" type="select" class="ui-select" isvalid="yes" checkexpession="NotNull"></div>
            </td>
            <td class="formTitle">快递单号</td>
            <td class="formValue">
                <input id="Numbers" type="text" class="form-control" />
            </td>
            <th class="formTitle">制单人员<font face="宋体">*</font></th>
            <td class="formValue">
                <input id="CreateUserName" type="text" class="form-control" readonly value="@HZSoft.Application.Code.OperatorProvider.Provider.Current().UserName" />
            </td>
        </tr>
        <tr>
            <th class="formTitle">摘要信息</th>
            <td class="formValue" colspan="7">
                <input id="AbstractInfo" type="text" class="form-control" />
            </td>
        </tr>
    </table>
</div>
<div id="bottomField">
    <a id="savaAndAdd" class="btn btn-success" onclick="AcceptClick(1)">核单</a>
    <a id="save" class="btn btn-default" onclick="AcceptClick(2)">保存订单</a>
</div>
<div class="contextmenu">
    <ul>
        <li>添加一行</li>
        <li>删除一行</li>
    </ul>
</div>
